@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

body::-webkit-scrollbar {
  display: none;
}

.center {
  @apply grid place-items-center
}

.full {
  @apply h-full w-full
}

.w-container {
  @apply w-full max-w-[1000px]
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
